// Colors
$clrAqua: #66e2dc;
$clrRed: #fa7453;
$clrOrange: #ffb964;
$clrWhite: #fcfaf9;
$clrBlack: #191826;

$fontMain: "IBM Plex Sans", sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  font-family: $fontMain;
  font-weight: 400;
  font-size: 16px;
  color: $clrBlack;
  background-image: url("../assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-position: top 50% right 70%;
}
.container {
  padding: 0 1.5rem;
}
// Header
.header {
  padding-top: 2.499375rem;
}
.logo {
  width: 9rem;
  height: 2rem;
}
.header__logo {
  margin-bottom: 4rem;
}
.hero {
  margin-bottom: 10.375rem;
}
.hero__title {
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: -0.4545px;
  margin-bottom: 1.25rem;
}
.hero__text {
  line-height: 1.625rem;
}

.main__background-image {
  height: 23.75rem;
  background-color: $clrBlack;
  background-image: url("../assets/bg-pattern-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.main__img {
  position: absolute;
  top: -98px;
  width: 13.06rem;
  height: 26.875rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.main__text-content {
  position: absolute;
  bottom: -565px;
  width: 100%;
  background-color: $clrRed;
  color: $clrWhite;
  padding: 3rem 2.25rem;
}
.main__title {
  margin: 0;
  font-size: 2rem;
}
.main__text {
  line-height: 1.75rem;
  margin-bottom: 2.25rem;
}
.main__price {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.big {
  font-size: 4.0625rem;
  font-weight: 700;
  margin-right: 1rem;
}
.btn {
  display: block;
  font-weight: 700;
  text-decoration: none;
  width: 296px;
  height: 61px;
  letter-spacing: -0.18px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem;
  text-align: center;
  font-size: 18px;
}
.btn__icon {
  margin-right: 0.455625rem;
}
.btn--black {
  background-color: $clrBlack;
  color: $clrWhite;
}
.btn--white {
  background-color: $clrWhite;
  color: $clrBlack;
}

.footer {
  margin-top: 585px;
  padding-bottom: 5rem;
}
.footer__logo {
  margin-bottom: 2rem;
}
.footer__text {
  line-height: 1.625rem;
  margin-bottom: 4rem;
}
.footer__link {
  text-decoration: none;
  color: $clrBlack;
  font-weight: 700;
}
.socials {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.footer__social-link {
  margin-right: 20px;
}
.footer__social-link-icon {
  height: 20px;
  width: 20px;
}

// @media (min-width: 768px) {
//   .body {
//     font-size: 18px;
//   }
//   .header {
//     background-image: url("../assets/bg-pattern-1.svg"),
//       url("../assets/bg-main-tablet.png");
//     background-size: 266px 400px, cover;
//     background-position: right -39px top -10px, right 50px top -100px;
//     padding: 61.99px 39px 111px;
//   }
//   .header__logo {
//     margin-bottom: 95.01px;
//   }

//   .hero__title {
//     width: 60%;
//     font-size: 4rem;
//     line-height: 4rem;
//     margin-bottom: 1.75rem;
//   }
//   .hero__text {
//     max-width: 514px;
//   }
//   .main__img {
//     position: absolute;
//     top: -9%;
//     width: 270.21px;
//     height: 556px;
//     left: 30%;
//   }
//   .main__background-image {
//     width: 696px;
//     height: 600px;
//     margin-left: auto;
//     margin-right: auto;
//   }
//   .main__text-content {
//     position: absolute;
//     top: 15%;
//     right: 13%;
//     width: 399px;
//     height: 546px;
//     border-radius: 12px;
//   }
//   .btn {
//     width: 302px;
//   }
//   .footer {
//     margin-top: 190px;
//     padding: 0 33px 85px;
//   }
//   .footer__wrapper {
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-end;
//   }
//   .footer__text {
//     flex-basis: 50%;
//     margin-bottom: 0;
//   }
// }
// @media (min-width: 1024px) {
//   .body {
//     font-size: 20px;
//   }
//   .header {
//     padding: 61.99px 165px 91px;
//   }
// }
